[Desktop Entry]
Name=radio.net
Comment=More than 30,000 online radio stations. WebApp for Ubuntu Touch devices.
Type=Application
Icon=radio-dot-net.png
Exec=webapp-container --enable-media-hub-audio --store-session-cookies --webappUrlPatterns=http://*.radio.de/*,http://*.radio.at/*,http://*.radio.fr/*,http://*.radio.pt/*,http://*.radio.es/*,http://*.radio.net/*,http://*.radio.dk/*,http://*.radio.se/*,http://*.radio.it/*,http://*.radio.pl/* http://www.radio.net/
Terminal=false
X-Ubuntu-Touch=true
